<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiqiblog.mapper.QuartzJobMapper" >
  <resultMap id="BaseResultMap" type="com.hiqiblog.entity.QuartzJob" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
    <result column="job_class_name" property="jobClassName" jdbcType="VARCHAR" />
    <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR" />
    <result column="trigger_state" property="triggerState" jdbcType="VARCHAR" />
    <result column="old_job_name" property="oldJobName" jdbcType="VARCHAR" />
    <result column="old_job_group" property="oldJobGroup" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <select id="listJob" resultMap="BaseResultMap">
    SELECT
    id,job_name,job_group,job_class_name,cron_expression,trigger_state,old_job_name,old_job_group,description
    FROM
    tbl_quartz_job
    <if test="jobName != '' and jobName != null">
      WHERE job_name LIKE CONCAT(CONCAT('%',#{jobName}),'%')
    </if>
  </select>

  <select id="getJob" resultMap="BaseResultMap">
        SELECT
          id,job_name,job_group,job_class_name,cron_expression,trigger_state,old_job_name,old_job_group,description
        FROM
          tbl_quartz_job
        WHERE
          job_group = #{jobGroup} AND job_name = #{jobName}
    </select>

  <insert id="saveJob" parameterType="QuartzJob">
        INSERT INTO
          tbl_quartz_job(job_name,job_group,job_class_name,cron_expression,trigger_state,old_job_name,old_job_group,description)
        VALUES
          (#{jobName},#{jobGroup},#{jobClassName},#{cronExpression},#{triggerState},#{oldJobName},#{oldJobGroup},#{description})
    </insert>

  <update id="updateJobStatus" parameterType="String">
        UPDATE
          tbl_quartz_job
        SET
          trigger_state = #{status}
        WHERE
          job_group = #{jobGroup} AND job_name = #{jobName}
    </update>

  <delete id="removeQuartzJob" parameterType="String">
        DELETE FROM
          tbl_quartz_job
        WHERE
          job_group = #{jobGroup} AND job_name = #{jobName}
    </delete>

  <update id="updateJob" parameterType="QuartzJob">
    UPDATE
    tbl_quartz_job
    <set>
      <if test="jobName != null"> job_name = #{jobName}, </if>
      <if test="jobGroup != null"> job_group = #{jobGroup}, </if>
      <if test="jobClassName != null"> job_class_name = #{jobClassName}, </if>
      <if test="cronExpression != null"> cron_expression = #{cronExpression}, </if>
      <if test="triggerState != null"> trigger_state = #{triggerState}, </if>
      <if test="oldJobName != null"> old_job_name = #{oldJobName}, </if>
      <if test="oldJobGroup != null"> old_job_group = #{oldJobGroup}, </if>
      <if test="description != null"> description = #{description}, </if>
    </set>
    WHERE
    id = #{id}
  </update>
</mapper>