<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiqiblog.mapper.UpdateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hiqiblog.entity.UpdateInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="disc" property="disc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, updatetime, disc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from updateinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from updateinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hiqiblog.entity.UpdateInfo" >
    insert into updateinfo (id, version, updatetime, 
      disc)
    values (#{id,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{updatetime,jdbcType=VARCHAR}, 
      #{disc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hiqiblog.entity.UpdateInfo" >
    insert into updateinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="disc != null" >
        disc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="disc != null" >
        #{disc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hiqiblog.entity.UpdateInfo" >
    update updateinfo
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="disc != null" >
        disc = #{disc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hiqiblog.entity.UpdateInfo" >
    update updateinfo
    set version = #{version,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      disc = #{disc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from updateinfo order by updatetime desc
  </select>
</mapper>